@import "common";
@import "header";
@import "footer";
@import "note";

@import "amp/ionicons";
@import "amp/poiretone";

.note-page {
  .note {
    margin: 0 auto;
    width: 800px;

    @include narrow-width {
      margin: 0;
      width: auto;
    }

    .note__inner {
      box-sizing: border-box;
      margin: 0 2rem;

      .note__header {
        border-bottom: 1px solid #ccf;
        display: flex;
        padding: 0 0 0.5rem 0;

        .note__title {
          margin: auto 0;

          .note__title-link {
            display: block;
            font-size: 0;

            &:link,
            &:visited {
              color: #666;
              text-decoration: none;
              transition: color 0.2s ease 0s;
            }

            &:hover {
              color: #999;
            }

            .note__pubdate,
            .note__number {
              font-family: $fonts-en;
              font-size: 0.9rem;
              font-weight: normal;
              text-shadow: 0 1px 0 white;
            }

            .note__pubdate::before {
              margin-right: 3px;
            }

            .note__number {
              margin-left: 0.6rem;

              &::before {
                margin-right: 1px;
              }
            }
          }
        }

        .note__link-area.links {
          margin: auto 0 auto auto;

          .links__link {
            font-size: 1.2rem;
            margin-left: 0.5rem;

            &:first-of-type {
              margin-left: 0;
            }

            &:link,
            &:visited {
              color: #ccc;
              transition: color 0.2s ease 0s;
            }

            &:hover {
              color: #999;
            }
          }
        }
      }

      .note__content {
        overflow: scroll;
        padding: 0.5rem 0 0 0;

        @include note;

        & > :first-child {
          margin-top: 0;
        }

        & > :last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
