---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/index.css">
    {% include analyzation.html %}
  </head>
  <body>
    {% include header.html %}

    <main class="index" role="main">
      <div class="index__inner clearfix">

        <div class="index__search-area search-area">
          <h2 class="search-area__title">search</h2>
          <form class="search-area__form" action="https://www.google.com/search" method="GET">
            <input type="hidden" name="as_sitesearch" value="chocolateorange.github.io">
            <input class="search-area__text" type="search" name="as_q">
            <label class="search-area__icon ion-ios-search">
              <input class="search-area__submit" type="submit" value="search">
            </label>
          </form>
        </div>

        <nav class="index__notes-area notes-area">
          <h2 class="notes-area__title">notes</h2>
          <ul class="notes-area__notes">
            {% for post in site.posts %}
            <li class="note">
              {% if post.layout == 'slide' %}
                {% assign link_class = 'note__link ion-ios-albums-outline' %}
              {% else %}
                {% assign link_class = 'note__link' %}
              {% endif %}
              <a class="{{ link_class }}" href="{{ post.url }}">
                <h2 class="note__title">{{ post.title }}</h2>
                <time class="note__pubdate ion-ios-clock-outline"><!--
                  -->{{ post.date | split:" " | first }}<!--
                --></time>
              </a>
            </li>
            {% endfor %}
          </ul>
        </nav>

      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
