---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    {% include analyzation.html %}

    {% include header.html %}

    <main class="index" role="main">
      <div class="index__inner clearfix">

        <nav class="index__notes-area notes-area">
          <h2 class="notes-area__title">notes</h2>
          <ul class="notes-area__notes">
            {% for post in site.posts %}
            <li class="note">
              {% if post.layout == 'slide' %}
                {% assign link_class = 'note__link ion-ios-albums-outline' %}
              {% else %}
                {% assign link_class = 'note__link' %}
              {% endif %}
              <a class="{{ link_class }}" href="{{ post.url }}">
                <h2 class="note__title">{{ post.title }}</h2>
                <time class="note__pubdate ion-ios-clock-outline"><!--
                  -->{{ post.date | split:" " | first }}<!--
                --></time>
                <ul class="note__tags">
                  {% assign tags = post.tags | sort %}
                  {% for tag in tags %}
                  <li class="tag">
                    <span class="tag__text ion-ios-pricetag-outline"><!--
                      -->{{ tag }}<!--
                    --></span>
                  </li>
                  {% endfor %}
                </ul>
              </a>
            </li>
            {% endfor %}
          </ul>
        </nav>

        <nav class="index__tags-area tags-area">
          <h2 class="tags-area__title">tags</h2>
          <ul class="tags-area__tags">
            {% assign tags = site.tags | sort %}
            {% for tag in tags %}
              {% assign name = tag[0] %}
              {% assign post = tag[1] %}
              <li class="tag">
                <a class="tag__link" href="/tag/?q={{ name }}">
                  <span class="tag__text ion-ios-pricetag-outline">{{ name }}</span><!--
                --></a>
              </li>
            {% endfor %}
          </ul>
        </nav>

      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
