{% include meta.html %}
{% seo %}
{% feed_meta %}
<link class="js-web-fonts" rel="preload" as="style" type="text/css" onload="this.rel='stylesheet'" crossorigin href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link class="js-web-fonts" rel="preload" as="style" type="text/css" onload="this.rel='stylesheet'" crossorigin href="https://fonts.googleapis.com/css?family=Poiret+One">
<noscript>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
</noscript>
<script>
{% include preload.js %}
preload.fallback('.js-web-fonts', 'stylesheet');
</script>
