$fonts-en:
  Verdana,
  sans-serif;

$fonts-ja:
  Verdana,
  "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
  "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
  "メイリオ", Meiryo,
  sans-serif;

$fonts-code:
  Inconsolata,
  Consolas,
  Menlo,
  Monaco,
  "MigMix 1m", "migmix-1m",
  monospace;

$fonts-title:
  "Poiret One",
  Verdana,
  sans-serif;

body {
  font-family: $fonts-ja;
  margin: 0;
}

main {
  display: block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

@mixin narrow-width {
  @media only screen and (max-width: 800px - 1px) {
    @content;
  }
}

@mixin more-narrow-width {
  @media only screen and (max-width: 500px - 1px) {
    @content;
  }
}
