@import "common";

.footer {
  padding: 5rem 0 2rem;

  @include more-narrow-width {
    padding: 2rem 0;
  }

  .footer__inner {
    box-sizing: border-box;
    margin: 0 auto;
    width: 800px;

    @include narrow-width {
      margin: 0;
      width: auto;
    }

    .footer__search.search {
      margin-bottom: 2rem;
      text-align: center;

      .search__input {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 2px 3px;

        &::placeholder {
          text-align: center;
        }
      }
    }

    .footer__links.links {
      .links__list.list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;

        .list__item.item {
          display: inline;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }

          .item__link {
            font-size: 2rem;
            transition: opacity 0.2s ease 0s;

            &:hover {
              opacity: 0.6;
            }

            &[href$="feed.xml"] {
              &:link,
              &:visited {
                color: #fe9507;
              }
            }

            &[href$="chocolateorange.github.io"] {
              &:link,
              &:visited {
                color: #000;
              }
            }
          }
        }
      }
    }

    .footer__copyright.copyright {
      text-align: center;

      .copyright__text {
        color: #666;
        font-family: $fonts-en;
        font-size: 70%;
      }

      .copyright__link {
        transition: color 0.2s ease 0s;

        &:link,
        &:visited {
          color: #aaf;
          text-decoration: none;
        }

        &:hover,
        &:active {
          color: #f9f;
        }
      }
    }
  }
}
