@import "common";

.header {
  padding: 2rem 0 5rem;

  @include more-narrow-width {
    padding: 2rem 0;
  }

  .header__inner {
    box-sizing: border-box;
    margin: 0 auto;
    width: 800px;

    @include narrow-width {
      margin: 0;
      width: auto;
    }

    .header__title.title {
      margin: auto 0 auto 2rem;

      @include more-narrow-width {
        margin: 0 auto;
        text-align: center;
      }

      .title__link {
        transition: color 0.2s ease 0s;

        &:link,
        &:visited {
          color: #aaf;
          text-decoration: none;
        }

        &:hover,
        &:active {
          color: #f9f;
        }
      }

      .title__text {
        display: inline;
        font-family: $fonts-title;
        font-size: 1.6rem;
        font-weight: lighter;
        letter-spacing: 0.05rem;
        margin: 0;
      }
    }
  }
}
