<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/note.css">
    {% include analyzation.html %}
  </head>
  <body>
    {% include header.html %}

    <main class="note-page" role="main">
      <div class="note">

        <article class="note__inner">
          <header class="note__header clearfix">
            <h1 class="note__title">
              <a class="note__title-link" href="{{ page.url }}"><!--
              --><time class="note__pubdate ion-ios-clock-outline">{{ page.date | split:" " | first }}</time><!--
              --><span class="note__number ion-pound">{{ page.id | split:"/" | last }}</span><!--
              --></a>
            </h1>
            <div class="note__link-area links">
              <a class="links__link" title="blob" href="{{ site.repository }}/blob/master/{{ page.path }}"><!--
              --><span class="ion-ios-paper"></span><!--
              --></a>
              <a class="links__link" title="history" href="{{ site.repository }}/commits/master/{{ page.path }}"><!--
              --><span class="ion-ios-photos"></span><!--
              --></a>
              <a class="links__link" title="edit" href="{{ site.repository }}/edit/master/{{ page.path }}"><!--
              --><span class="ion-edit"></span><!--
              --></a>
            </div>
          </header>
          <div class="note__content">{{ page.content }}</div>
        </article>

      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
